@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.search-container{
  display: flex;
  height: 55px;
}
.recipe-navbar{
    width: 100%;
    height: 4.5rem;
    background-color: #828282;
}
.search-bar{
  width: 100%;
  height: 100%;
  background-color: #828282;
}

.container {
    width: 100%;
    height: 100vh;
    /* background-color: chocolate; */
    margin: auto;
    /* line-height: 1.5; */
    /* display: flex; */
  }
  h1{
    color:#195C76;
  }
  
  h2 {
    color: #195C76;
    font-size: 1.3rem;
  }
  h2:hover{
    background-color:yellowgreen;

  }
  
  .flex-grid {/*side bar text on images*/
    color: white;
    display: flex;
    margin: auto;    
  }
  .top-image-sidebar{
    background-image: url('https://images.unsplash.com/photo-1546833160-1ae25ca1a6d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1287&q=80');
    height: 200px;
    width: auto; 
    background-size: cover;
    /* position: relative; */
  }
  .category-text{
    background-color: white;
    border: 1px solid #D1CCCC;
    padding:0 65px 0;
    /* position: absolute; */
    z-index: 1;
   
    display: inline;
    margin-left:auto;
    margin-right:auto;
    border-radius: 15px;
  }
  .images-container{
    margin-top:40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .single-box-beef,.single-box-fish,.single-box-vegetables,.single-box-fruit,.single-box-pork,.single-box-chicken{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 160px;
    height: 160px; */
    height: 150px;
    width: 150px; 
    background-size: cover;
    border-radius: 15px;
    margin: 6px;
    position: relative;
    transition: ease-in-out;
  }  
  .single-box-beef:hover,.single-box-fish:hover,.single-box-vegetables:hover,.single-box-fruit:hover,.single-box-pork:hover,.single-box-chicken:hover{
    cursor: pointer;
    border: 4px solid yellowgreen;
  }

  .single-box-beef{background-image: url('https://images.unsplash.com/photo-1546833160-1ae25ca1a6d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1287&q=80');}
  .single-box-fish{background-image: url('https://images.unsplash.com/photo-1575053516499-bf3ab5bf59e4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80');}
  .single-box-vegetables{background-image: url('https://images.unsplash.com/photo-1546069901-d5bfd2cbfb1f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80');}
  .single-box-fruit{background-image: url('https://images.unsplash.com/photo-1544510806-07b18f692386?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1346&q=80');}
  .single-box-pork{background-image: url('https://images.unsplash.com/photo-1567276789707-9903c74d98f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');}
  .single-box-chicken{background-image: url('https://images.unsplash.com/photo-1585325701172-fcb7d019242d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=674&q=80');}

  .header-text{
    background-color: rgba(0, 0, 0, 0.5);    
    width: 150px;
    text-align: center;
  }
  /* .header-text:hover{
    background-color:yellowgreen;

  } */
  /* .img-area:hover{
    cursor: pointer;
  } */
  .sidebar-box-area {
    flex: 1;
    background-color: white;
    border-right: 1px solid #D1CCCC;
  }   
  .main {
    flex: 3;
    background-color:white;
    border-left: 1px solid #D1CCCC;
    /* margin-left:0.5rem; */
    /* margin-right:0.5rem; */
    /* padding: 1rem; */
    height:100vh;
    width: 100vh;
  }

/*---------------RECIPE -----------------*/
.recipes {
  flex: 3;
  height:100vh;
  width: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.recipe {

  width: 250px;
  height: auto;
  margin: 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  position: relative;
  border-radius: 15px;
  /* box-shadow: 1px 2px 3px #aaa; */
  border: 2px solid #ebeaea;
  
}

.recipe h2 {
  background-color: white;
  /* background-color: rgba(161, 161, 161, 0.7); */
  border-radius: 15px;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  font-size: .8rem;
  font-weight: 400;
  /* text-shadow: 0 0.5rem 0.5rem #555; */
  color: black;
}
/* .recipe h2:hover{
  background-color:red;
  color:white;
  cursor: pointer;
} */

.recipe img {
  border-radius: 15px 15px 0 0;
  object-fit: cover; 
  

}

/* .recipe a {
  font-size: 1.8rem;
  color: #40b48e;
} */

.recipe button {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #828282;
  border: none;
  border-radius: 0 0 15px 15px;
  height: 3rem;
}
.recipe button:hover{
  background-color:yellowgreen;
  color:  #828282;
  cursor: pointer;
}


.ingredient-list {
  margin-top: 1rem;
  background-color: #58641D;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ingredient-list li {
  margin: 0.5rem 0;
}


.ingredient-text {
  font-size: 1rem;
  color: white;
}

/* .ingredient-weight {
  color: #40b48e;
  font-size: 1.3rem;
} */
