@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}
.alert {
  position: absolute;
  top: -3rem;
  left: 0;
  background-color: rgb(233, 72, 72);
  width: calc(100% - 0.4rem);
  border-radius: 15px;
  padding: 0.2rem;
}

.alert h3 {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

 
/* html {
  font-size:50%;
}  */

/* .App {
  display: flex;
  flex-direction: column;
  align-items: left;
} */

h1 {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: #c4c4c4;
  /* text-shadow: 0 0.2rem 5rem rgb(119, 115, 115); */
  text-transform: uppercase;
  margin: 4rem 0;
}

.search-form {
  width: 45%;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #c4c4c4; */
  /* border-radius: 15px; */
  margin-top: 1rem;
  /* box-shadow: 1rem 2rem 5rem #aaa; */
  position: relative;
}


.search-form input {
  font-size: .8rem;
  border: none;
  margin: 0 0.5rem;
  border-radius: 15px;
  height: 2rem;
}

.search-form input[type="text"] {
  padding: 0 0.5rem;
  width: 60%;
  color: #555;
  border: 1px solid black;
}

.search-form input[type="submit"] {
  width: 25%;
  text-transform: uppercase;
  background-color: #58641D;
  color: #fff;
  border: 1px solid white;
}
.search-form input[type="submit"]:hover{
  cursor: pointer;
  background-color:yellowgreen;

}

.recipes {
  flex: 3;
  height:100vh;
  width: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.recipe {

  width: 250px;
  height: auto;
  margin: 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  position: relative;
  border-radius: 15px;
  /* box-shadow: 1px 2px 3px #aaa; */
  border: 2px solid #ebeaea;
  
}

.recipe h2 {
  background-color: white;
  /* background-color: rgba(161, 161, 161, 0.7); */
  border-radius: 15px;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  font-size: .8rem;
  font-weight: 400;
  /* text-shadow: 0 0.5rem 0.5rem #555; */
  color: black;
}
/* .recipe h2:hover{
  background-color:red;
  color:white;
  cursor: pointer;
} */

.recipe img {
  border-radius: 15px 15px 0 0;
  object-fit: cover; 
  

}

/* .recipe a {
  font-size: 1.8rem;
  color: #40b48e;
} */

.recipe button {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #58641D;
  border: none;
  border-radius: 0 0 15px 15px;
  height: 3rem;
}
.recipe button:hover{
  background-color:yellowgreen;
  color:  #58641D;
  cursor: pointer;
}


.ingredient-list {
  margin-top: 1rem;
  background-color: #58641D;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ingredient-list li {
  margin: 0.5rem 0;
}


.ingredient-text {
  font-size: 1rem;
  color: white;
}

/* .ingredient-weight {
  color: #40b48e;
  font-size: 1.3rem;
} */