@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}
.alert {
  position: absolute;
  top: -3rem;
  left: 0;
  /* background-color: rgb(233, 72, 72); */
  width: calc(100% - 0.4rem);
  border-radius: 15px;
  padding: 0.2rem;
}

.alert h3 {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

 
/* html {
  font-size:50%;
}  */

/* .App {
  display: flex;
  flex-direction: column;
  align-items: left;
} */

h1 {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: #c4c4c4;
  /* text-shadow: 0 0.2rem 5rem rgb(119, 115, 115); */
  text-transform: uppercase;
  margin: 4rem 0;
}
.search-container{
  position: fixed;
  width: 100%;
  height: 55px;
  left: 0;
  top: 0;
  z-index: 100;
  /* border-top: 0; */
}
.search-form {
  width: 45%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #828282;
  /* border-radius: 15px; */
  /* margin-top: 1rem;
  padding-top:.8rem; */
  /* box-shadow: 1rem 2rem 5rem #aaa; */
  position: relative;
  /* margin-bottom: 30px; */
}


.search-form input {
  font-size: .8rem;
  border: none;
  margin: 0 0.5rem;
  border-radius: 15px;
  height: 2rem;
}

.search-form input[type="text"] {
  padding: 0 0.5rem;
  width: 60%;
  color: #555;
  /* border: 1px solid black; */
}

.search-form input[type="submit"] {
  width: 25%;
  text-transform: uppercase;
  background-color: #828282;
  color: #fff;
  border: 2px solid white;
}
.search-form input[type="submit"]:hover{
  cursor: pointer;
  background-color:yellowgreen;

}



@media (max-width: 768px){
  .search-form {
    min-width: 350px;
  }
}